<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="appTitle" value="Grocery_List"/>
  </appSettings>
  
  <connectionString>
      <add name ="datasource" connctionString="connectionString information;"></add>
  </connectionString>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>