<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dataSource" connectionString="server=ADMIN2-PC\SQLEXPRESS;database=NORTHWND; Trusted_Connection = true"/>
  </connectionStrings>
  <appSettings>
    <add key="programName" value="SuppliersCRUD"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>